html{
    min-width: 600px;
}
.main{
    margin-top: 8px;
}
.li-container{
    width: 100%;
}
.overflow{
    position: relative;

    overflow: hidden; 
    text-overflow:ellipsis;  
    white-space: nowrap;
}