html{
    min-width: 600px;
}
.fixed-table-toolbar .columns label {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
}
.p-0{
    padding: 0;
}

#attribute{
    height: 28px;
}

label{
    margin: 5px 0;
}